.Footer-paneltesting {
  padding: 15px;
  width: 100%;
  color: antiquewhite;
  //   background: linear-gradient(125deg, #1b1532 63%, #4e0685 150%);
  background: radial-gradient(circle closest-side, #4e066a, #020024);
  text-align: center;
  border-top: #f5f8f8 2px solid;
}
.se {
  &-siemens {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(38, 155, 135);
  }
  &-energy {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(67, 20, 82);
  }
}
