.Navbar {
  background-color: #000028;
  border-bottom: rgb(168, 166, 166) solid 2px;
}
.logout {
  padding: 0;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 20px;
}
.logout:hover {
  background-color: azure;
}
.login {
  color: white;
  font-size: 20px;
  text-align: end;
}
.dropdown {
  text-align: end;
}
.siemens {
  color: rgb(38, 155, 135);
  font-size: 30px;
  margin-right: 3px;
}
.energy {
  color: rgb(101, 31, 124);
  font-size: 30px;
}
.navlink {
  margin: 5px;
}
.admintext {
  color: rgb(47, 103, 207);
  text-align: center;
}
