.modalContainer {
  min-width: 420px;
  border: none;
  .modalHeader {
    background: linear-gradient(180deg, #432150 0%, #3d3a7a 100%);
    color: white;
  }
  .modalBody {
    background: linear-gradient(180deg, #432150 0%, #3d3a7a 100%);
    color: white;
  }
  .modalFooter {
    background: #3d3a7a;
    color: white;
  }
}
