.rapports-page {   
  .rapports-container{
    height: 70vh;
    overflow-x: hidden;
    overflow-y:scroll;
    padding: 17px;
    .rapportscard {
      width: 100%;
      height: 12vh;
      color: white;
      transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
      align-items: center;
      justify-content: center;
  
      &:hover {
        cursor: pointer;
        transform: translateY(-7px);
      }
  
      &:hover .readMore:before {
        background: linear-gradient(to right, #ffffff 0%,#ffffff 100%);
      }
      &-text {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3;
      }
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background-image: linear-gradient(180deg, #000028 0%, #009999 100%);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #222269 0%, #91e7e7 100%);
  }


 
}
