// Components
@import './components/header';
@import './components/modals/editeurmodals';
@import './components/footer';
@import './antd';

// Pages
@import './index';
@import './historique';
@import './newtest';
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}

.clickable {
  cursor: pointer;
}

.base-page {
  color: white;
  // background: linear-gradient(125deg, #1b1532 63%, #4e0685 150%);
  background: radial-gradient(circle closest-side, #4e066a, #020024);
}

.container {
  padding: 2%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.absolute {
  position: absolute;
}
.flex-div {
  display: flex;
  align-items: center;
  padding: 10px;
}
.block-div {
  background: #003e68;
  display: block;
}
