.steps-content {
  min-height: 450px;
  margin-top: 16px;
  padding: 40px;
  text-align: center;
  background-color: #0a8d8f;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  box-shadow: inset 1px 1px 150px #4a1664;
}

.steps-action {
  margin-top: 24px;
  color: #000028;
}
.Containertest {
  min-height: 380px;
  background: #24717400;
  padding: 10px;
  box-shadow: 0 0 15px #00806e;
  display: inline-flexbox;
}
