.steps-content {
  min-height: 600px;
  padding: 10px 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 4px 5px 1px rgb(163 234 237 / 77%);
  .Containertest {
    min-height: 550px;
    background: #24717400;
    padding: 10px;
    box-shadow: 0 0 15px #00806e;
    display: inline-flexbox;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #000028 0%, #009999 100%);
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #222269 0%, #91e7e7 100%);
  }
}

.steps-action {
  margin-top: 24px;
  color: #000028;
}
.show_item {
  padding: 0 5px;
  display: inline-block;
  width: 40%;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgb(21 94 102);
  color: rgb(227 234 235);
}
.show_item_input {
  margin-bottom: 15px;
  padding: 0 5px;
  width: 40%;
}
.Signature {
  font-family: 'Corinthia', cursive;
  font-size: 50px;
}
